img {
  height: 50px;
  width: 50px;
  border-radius: 15px;
}
li {
  list-style-type: none;
}
span {
  font-weight: bold;
}
iframe {
  border: 0;
}
.content {
  display: flex;
}
.event {
  flex: 3;
}
#characters {
  flex: 2;
}
#whoDed img {
  height: 200px;
  width: 200px;
}
.red {
  background-color: red;
  opacity: .9;
  z-index: 50000;
}
