body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Open Sans Condensed', sans-serif;
  background-image: url('./assets/skullisland.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 150%;
}

main {
  flex: 1 0 auto;
}

.background{
  background-color: rgba(255, 255, 255, 0.3)
}

h1 {
  font-family: 'Special Elite', serif;
}

 .player-h1 { 
  margin-left: 180px;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 25px;
}

li {
  list-style-type: none;
  padding: 15px;
  width: 10vw;
}

span {
  font-weight: bold;
  line-height: 2em;
  font-family: 'Special Elite', serif;
}

iframe {
  border: 0;
  height: 300px;
  
}
.content {
  display: flex;
  justify-content: space-around;
}
.event {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  text-align: center;
}

#whoDed img {
  height: 200px;
  width: 200px;
}

#whoDed {
  font-family: 'Special Elite', serif;
  line-height: 4em;
  font-size: 3em;
  color: rgb(146, 9, 15)
}

.red {
  background-color: rgb(146, 9, 15);
  opacity: .9;
  z-index: 50000;
}

#description {
  text-align: center;
  font-size: 1.5em;
  line-height: 2em;
}

p {
  line-height: 1.2em;
  font-size: 1.2em;
  font-weight: bold;
}

#characters {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
}

#newSitch {
  font-family: 'Special Elite', serif;
  line-height: 2em;
  width: 200px;
}