body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Open Sans Condensed', sans-serif;
    background-image: url("assets/spookyIsland.jpg");
    background-size: cover;
}

main {
    flex: 1 0 auto;
}

h1 {
    font-size: 12em;
}

.user-image {
    height: 130px;
    width: 180px;
    border-radius: 25px;
    margin: 15px;
}

.review-box {
    display: flex;
    background-image: url("assets/skullsbackground.jpg");
    flex-direction: row;
    border: 1px solid grey;
    margin: 50px;
}

.dead-review {
    margin-left: 40px;
}


.one {
    background-image: url("assets/jungleSkeleton.jpg");
    background-size: cover;
}

.two {
    background-image: url("assets/sand skeleton 1.jpg");
    background-size: cover;
}

.three {
    background-image: url("assets/underWaterSkull.jpg");
    background-size: cover;
}

.four {
    background-image: url("assets/jungleSkeleton2.jpg");
    background-size: cover;
}

.five {
    background-image: url("assets/sandskeleton2.jpg");
    background-size: cover;
}

.six {
    background-image: url("assets/skeletonUnderWater.jpeg");
    background-size: cover;
}

header {
    
    background-size: cover;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tagline {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    margin-bottom: -55px;
}


.page-footer {
    background-image: url('./assets/spookyIsland.jpg');
    opacity: 0.7;
    background-size: 100%;
}

.header-text {
    font-family: 'Homemade Apple', cursive;
    color: rgb(146, 9, 15);
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h4 {
    color: rgb(146, 9, 15);
}

.home-link {
    text-align: center
}